jupyterlab
ipykernel
xmltodict
openpyxl
googletrans==4.0.0rc1
pandas
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
-e .
scikit-learn
-e ./ccu_validation_scoring
fastapi
uvicorn[standard]
requests
openai
torch
transformers
evaluate
datasets